
.tab {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a;
  border-width: 1%;
  border-color: #363636;
}



